@model TestCore.Pages.Index
<div>
    @if (Model._summonerDTO != null)
    {
        <h2>Summoner:</h2>
        <p>@Model._summonerDTO.Name</p>
        <p>@Model._summonerDTO.SummonerLevel</p>
        if (Model._matchHistoryDTO != null)
        {
            if (Model._matchHistoryDTO.Matches == null)
            {
                <h4>No recent match history found.</h4>
            }
            else
            { <h2>Match History</h2>
                <h4>Total Games:</h4>
                <p>@Model._matchHistoryDTO.TotalGames</p>
                <div>
                    @{ var i = 0;
                        foreach (var match in Model._champions)
                        {
                            i++;
                            <h5>Game @i</h5>
                            <div>
                                <p>@match.ChampionName</p>
                            </div>
                        }
                    }
                </div>
            }
            <form asp-page="Index" asp-page-handler="ShowMore" method="get">
                <input type="text" id="myInput1" asp-for="Input.SearchTerm" style="display:none" />
                <input type="text" id="myInput2" asp-for="Input.SelectedRegion" style="display:none" />
                <input type="text" id="myInput3" asp-for="Input.EndIndex" style="display:none" value="20" />
                <button type="submit" id="myBtn">Show More</button>
                <div id="result"></div>
            </form>
        }
    }
</div>